body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 10px;
  color: red;
  text-align: left;
}

body{
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
}
form div {
  margin: 10px 0;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: left;
  padding-left: 2px;
}
form div input {
  width: 90%;
}


form input {
  height: 30px;
  border: none;
  
}
form label {
  text-align: left;
  font-weight: bold;
}

.border-error {
  border: 1px solid red;
}

span {
  color: red;
}

input[type='submit'] {
  color: white;
  background-color: rgb(247, 104, 128);
  border: none;
  height: 30px;
  border-radius: 5px;
}